{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

{% block content %}
<!-- Back to top button -->
<div class="back-to-top"></div>


<div class="page-section bg-light">
    <div class="container">
        <div class="text-center wow fadeInUp">
            <div class="subhead">Our services</div>
            <h2 class="title-section">Редакторы файлов</h2>
            <div class="divider mx-auto"></div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <a href="{% url 'image' %}"><img class="circle-image" src="{% static 'img/imageconv.png' %}" alt="Image Converter"></a>
                    </div>
                    <a href="{% url 'image' %}"><h5>Image converter</h5></a>
                    <p>Конвертирование изображений</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <img class="circle-image" src="{% static 'img/videoconv.png' %}" alt="Image Converter">
                    </div>
                    <h5>Video converter</h5>
                    <p>Конвертирование видео</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <img class="circle-image" src="{% static 'img/audioconv.png' %}" alt="Image Converter">
                    </div>
                    <h5>Audio converter</h5>
                    <p>Конвертирование аудио</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <img class="circle-image" src="{% static 'img/docconv.png' %}" alt="Image Converter">
                    </div>
                    <h5>Document Converter</h5>
                    <p>Конвертирование документов</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <img class="circle-image" src="{% static 'img/archiveconv.png' %}" alt="Image Converter">
                    </div>
                    <h5>Acrchive Converter</h5>
                    <p>Конвертирование архивов</p>
                </div>
            </div>
            <!--<div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <span class="mai-business"></span>
                    </div>
                    <h5>OnSite SEO</h5>
                    <p>We analyse your website's structure, internal architecture & other key</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <span class="mai-business"></span>
                    </div>
                    <h5>OnSite SEO</h5>
                    <p>We analyse your website's structure, internal architecture & other key</p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 col-xl-3 py-3 wow zoomIn">
                <div class="features">
                    <div class="header mb-3">
                        <span class="mai-business"></span>
                    </div>
                    <h5>OnSite SEO</h5>
                    <p>We analyse your website's structure, internal architecture & other key</p>
                </div>
            </div>
        </div>

    </div>  --><!-- .container -->
</div> <!-- .page-section -->
{% endblock %}
